n8n-templates/01-lead-capture-to-hubspot.json
{
  "name": "NWM — Lead Capture → Claude Qualify → HubSpot + Discord",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nwm-lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook: Form Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.email }}",
              "rightValue": ".+@.+\\..+",
              "operator": { "type": "string", "operation": "regex" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-validate",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-5-20250929\",\n  \"max_tokens\": 500,\n  \"system\": \"You are NetWebMedia's lead qualification agent. Return STRICT JSON: {score:0-100, service_fit:one-of[ai-automations,ai-agents,crm,ai-websites,paid-ads,ai-seo,social], reply:3-sentence warm reply mentioning the recommended service}.\",\n  \"messages\": [{\"role\":\"user\",\"content\":\"Name: {{$json.first_name}} {{$json.last_name}}\\nCompany: {{$json.company}}\\nBudget: {{$json.budget}}\\nMessage: {{$json.message}}\"}]\n}",
        "options": { "timeout": 25000 }
      },
      "id": "node-claude",
      "name": "Claude: Qualify Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 240],
      "credentials": {
        "httpHeaderAuth": { "id": "CRED_ANTHROPIC", "name": "Anthropic API" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.content[0].text;\nconst cleaned = raw.replace(/^```(?:json)?|```$/gim, '').trim();\ntry {\n  return [{ json: { ...JSON.parse(cleaned), original: $input.first().json } }];\n} catch (e) {\n  return [{ json: { score: 50, service_fit: 'ai-seo', reply: 'Thanks for reaching out!', _parse_error: e.message, original: $input.first().json } }];\n}"
      },
      "id": "node-parse",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{ $json.original.email }}",
        "additionalFields": {
          "firstName": "={{ $json.original.first_name }}",
          "lastName": "={{ $json.original.last_name }}",
          "companyName": "={{ $json.original.company }}",
          "lifecycleStage": "lead",
          "customProperties": {
            "property": [
              { "property": "ai_lead_score", "value": "={{ $json.score }}" },
              { "property": "service_fit", "value": "={{ $json.service_fit }}" }
            ]
          }
        }
      },
      "id": "node-hubspot",
      "name": "HubSpot: Upsert Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.1,
      "position": [1120, 240],
      "credentials": {
        "hubspotApi": { "id": "CRED_HUBSPOT", "name": "HubSpot Private App" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $json.score }}", "rightValue": 70, "operator": { "type": "number", "operation": "gte" } }
          ],
          "combinator": "and"
        }
      },
      "id": "node-hot",
      "name": "Hot Lead (70+)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $credentials.discordWebhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"username\": \"NetWebMedia Sales Bot\",\n  \"avatar_url\": \"https://netwebmedia.com/assets/nwm-logo.svg\",\n  \"content\": \"🔥 **New Hot Lead** — score {{$json.score}}/100\",\n  \"embeds\": [{\n    \"title\": \"{{$json.original.first_name}} {{$json.original.last_name}} — {{$json.original.company}}\",\n    \"description\": \"{{$json.original.message}}\",\n    \"color\": 16738335,\n    \"fields\": [\n      { \"name\": \"Service Fit\", \"value\": \"{{$json.service_fit}}\", \"inline\": true },\n      { \"name\": \"Budget\", \"value\": \"{{$json.original.budget}}\", \"inline\": true },\n      { \"name\": \"Score\", \"value\": \"{{$json.score}}/100\", \"inline\": true },\n      { \"name\": \"Email\", \"value\": \"{{$json.original.email}}\", \"inline\": false }\n    ],\n    \"footer\": { \"text\": \"NetWebMedia · AI Lead Qualification\" },\n    \"timestamp\": \"{{ $now }}\"\n  }]\n}"
      },
      "id": "node-discord",
      "name": "Discord: Alert Sales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"score\": {{ $json.score }},\n  \"service_fit\": \"{{ $json.service_fit }}\",\n  \"reply\": \"{{ $json.reply }}\"\n}"
      },
      "id": "node-respond",
      "name": "Respond to Form",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    }
  ],
  "connections": {
    "Webhook: Form Submit": { "main": [[{ "node": "Validate Email", "type": "main", "index": 0 }]] },
    "Validate Email": { "main": [[{ "node": "Claude: Qualify Lead", "type": "main", "index": 0 }]] },
    "Claude: Qualify Lead": { "main": [[{ "node": "Parse AI Response", "type": "main", "index": 0 }]] },
    "Parse AI Response": { "main": [[{ "node": "HubSpot: Upsert Contact", "type": "main", "index": 0 }]] },
    "HubSpot: Upsert Contact": { "main": [[{ "node": "Hot Lead (70+)?", "type": "main", "index": 0 }]] },
    "Hot Lead (70+)?": {
      "main": [
        [{ "node": "Discord: Alert Sales", "type": "main", "index": 0 }],
        [{ "node": "Respond to Form", "type": "main", "index": 0 }]
      ]
    },
    "Discord: Alert Sales": { "main": [[{ "node": "Respond to Form", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "NetWebMedia" }, { "name": "lead-gen" }]
}
